main {
    display: flex;
    flex-direction: rows;

    div:first-child { 
        width:30%;
        display: flex;
        flex-direction: column;
        background-color: rgb(67, 39, 83);


        h3 {
            border: none;
        }
    }

    div:nth-of-type(2) {
        padding-left: 5%;

        div {
            display: flex;
        }
        span {
            display: flex;
            flex-direction: column;
        }
        img {
            object-fit: cover;
            width: 100px;
            height: 100px;
        }

        h4 {
            color: white;
        }
    }
}