body {
    color: white;
}

.nav {
    width: 100%;
}

span {
    display: flex;
    margin-left: 15px;
}

h3 {
    padding: 10px;
    border-bottom: 2px solid whitesmoke;
}

.active {
    border-bottom: 4px solid rgb(57, 136, 255);
}
