body {
    color: white;
}

.nav {
    width: 100%;
}

span {
    display: flex;
    margin-left: 15px;
}

h3 {
    padding: 10px;
}

.active {
    border-bottom: 2px solid blue;
}

.inactive {
    border-bottom: 1px solid whitesmoke;
}