@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@1,300;1,500&display=swap');
 
$font-newsreader: 'Newsreader', serif;
$header-img: 'https://cdn.pixabay.com/photo/2017/08/16/22/18/butterflies-2649292_1280.png';

.header {
    width: 100%;
    height: 275px;
    background-color: black;
    display: flex;
    justify-content: center;
    background-image: url($header-img);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    font-family: $font-newsreader;
    color: white;
    float: left;
    font-size: 100px;
}
